/* invoice css */

#calcbox tr td
{
padding:2px 0px;
}

#calcbox tr.titlerow td
{
font-weight:bold;
padding:2px 0px;
}

#calcbox tr.unitrow td
{
padding:0px 0px 4px;
}
#calcbox tr.subtotalrow td:last-child
{
padding:4px 0px;
border-top:1px solid #565656;
}
#calcbox tr.taxrow td
{
padding:0px 0px 0px;
}
#calcbox tr.totalrow td
{
font-weight:bold;
padding:6px 0px 2px;
}
#calcbox tr.totalrow td:last-child
{
border-top:1px solid #565656;
}